/*
	2.Reset
		2.3. Variable

 */

//Font color
$base-font-size:14px;
$base-font-family:'Quicksand', sans-serif;
$custom-font:'Josefin Sans', sans-serif;
$custom-font2: 'Playfair Display', serif;
$base-font-color:#322e26;
$color-hover:#a3783c;



